- page_title s_('TagsPage|Tags')
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, project_tags_url(@project, rss_url_options), title: "#{@project.name} tags")

.flex-list
  .top-area.adjust
    .nav-text.row-main-content
      = s_('TagsPage|Tags give the ability to mark specific points in history as being important')

    .nav-controls
      #js-tags-sort-dropdown{ data: { filter_tags_path: filter_tags_path(search: @search, sort: @sort), sort_options: tags_sort_options_hash.to_json } }
      = link_to project_tags_path(@project, rss_url_options), title: _("Tags feed"), class: 'btn gl-button btn-default btn-icon has-tooltip gl-ml-auto' do
        = sprite_icon('rss', css_class: 'gl-icon qa-rss-icon')
      - if can?(current_user, :admin_tag, @project)
        = link_to new_project_tag_path(@project), class: 'btn gl-button btn-confirm', data: { qa_selector: "new_tag_button" } do
          = s_('TagsPage|New tag')

  = render_if_exists 'projects/commits/mirror_status'

  - if @tags_loading_error
    = render 'shared/errors/gitaly_unavailable', reason: s_('TagsPage|Unable to load tags')

  .tags
    - if @tags.any?
      %ul.flex-list.content-list
        = render partial: 'tag', collection: @tags

      = paginate @tags, theme: 'gitlab'

    - else
      .nothing-here-block
        = s_('TagsPage|No tags found for v12.5')
        %br
        %small
          = s_('TagsPage|Use git tag command to add a new one:')
          %br
          %span.monospace git tag -a v1.4 -m 'version 1.4'
